.container{
  width: 1200px;
  height:1300px;
   margin: 0 auto;
   background-image: url("bg.jpg");
}


.wrapper{
 position: relative;
 left: 200px;
 top: 200px;
 color: purple;
 font-weight: bold;
 width: 800px;
  height: 1000px;
 background: white;
 border-radius: 5em 1em 0em 0em/ 1em 5em 0em 1em;
 border: 2px solid brown;

}

h3:first-letter{
  font-size: 220%;
}
h3{
  width: 700px;
  float: left;
  padding: 0px 40px 10px 70px; 
}
img{
  position: relative;
  left: 200px;
  margin: 5px;   
}
.plm{
  width: 700px;
  height: 400px;
  background-image: url("palm.jpg");
  float: left;
  margin: 0 0 0 50px;
  background-repeat: no-repeat;
}
div.ftr{
  width: 1200px;
float: left;
}
div.pics{
  width: 700px;
  height: 500px;
  float: left;
  border-top: 2px dotted purple;
  margin-left: 50px;
}
.imgtxt{
  width: 300px;
  height: 300px;
  float: left;
  background-image: url("plm1.jpg");
  opacity: 0.7;
  margin: 20px 0 0 20px;
 }
.im-g{
  width: 300px;
  height: 200px;
  float: left;
  background-image: url("plm2.jpg");
  margin: 20px 0 0 80px;
}

p{
  width: 280px;
   position: relative;
  top: 150px;
  color: cyan;
  margin: 10px;
}